body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #EEEEEE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.style1 {
	color: #FFFFFF;
	font-size: 10px;
}

.style2 {
	color: #848E1A;
	font-weight: bold;
	font-size: 12px;
}

a:link {
	color: #000000;
	text-decoration: none;
}

a:visited {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #000000;
	text-decoration: underline;
}

a:active {
	text-decoration: none;
}

.style4 {
	color: #FFFFFF
}

.style5 {
	color: #848E1A;
	font-weight: bold;
}

.style6 {
	color: #848E1A
}

.title {
	color: #464646;
	font-weight: bold;
	font-size: 16px;
}

.subtitle {
	color: #848E1A;
	font-weight: bold;
	font-size: 14px;
}

.button {
	color: #464646;
	font-size: 11px;
}

input {
	color: #464646;
	font-size: 11px;
}

select {
	color: #464646;
	font-size: 11px;
}

.treeLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
}

.treeLink:hover {
	cursor: hand;
	text-decoration: underline;
	color: #000099;
}

.treeLink:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: White;
	text-decoration: none;
}

.formLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000099;
	text-decoration: none;
}

.formLink:hover {
	cursor: hand;
	text-decoration: underline;
	color: #666666;
}

.basicLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
}

.basicLink:hover {
	cursor: hand;
	text-decoration: underline;
}

.dataTable {
	border-collapse: separate;
	border-width: 1PX;
	border-color: #333333;
}

.cellValue {
	COLOR: navy;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 7pt;
	FONT-WEIGHT: normal
}

/* Content */
#content {
	padding-left: 2em;
	padding-right: 2em;
}

.box {
	margin-bottom: 1.25em;
}

.boxContent {
	margin-top: 0.5em;
	padding: 1.25em 1em 0.25em 1em;
	background: #ffffff url('../images/a1.gif') top left repeat-x;
}

/** boxA **/
.boxA .boxContent {
	margin-top: 0em;
	color: #fff;
	border-bottom: solid 1px #bb6600;
	background: #ff8800;
	padding: 1em 1.5em 1em 1em;
}

.boxA span {
	font-weight: bold;
	font-size: 1em;
}

.boxA a {
	background-color: inherit;
	color: #fff;
	font-size: 1em;
}

.boxA a:hover {
	text-decoration: none;
	border-bottom: solid 1px #ff9900;
}

.boxA input.button {
	margin-top: 0.25em;
	vertical-align: middle;
}

.boxA input.text {
	width: 100%;
}

/** boxB **/
.boxB .boxContent {
	margin-top: 0em;
	color: #fff;
	border-bottom: solid 1px #004466;
	background: #007799;
	padding: 1em 1.5em 1em 1em;
}

.boxB span {
	font-weight: bold;
	font-size: 0.8em;
}

.boxB a {
	background-color: inherit;
	color: #fff;
	font-size: 0.8em;
}

.boxB a:hover {
	text-decoration: none;
	border-bottom: solid 1px #007799;
}

.boxB input.button {
	margin-top: 0.25em;
	vertical-align: middle;
}

.boxB input.text {
	width: 100%;
}

/** Content **/
#content p {
	margin-bottom: 1em;
	text-align: justify;
	line-height: 1.5em;
}

#content strong {
	color: #444;
}

#content h2,h3,h4,h5,h6 {
	
}

#content h2,h3 {
	
}

#content h3 {
	font-size: 1.0em;
}

#content h2 {
	font-size: 1.25em;
}

#content ul {
	margin-bottom: 1em;
	padding-left: 1em;
	line-height: 1.8em;
}

#content blockquote {
	padding: 1em;
	margin-bottom: 1.5em;
	border-left: solid 6px #558800;
}

#content blockquote p {
	margin-bottom: 0em;
	line-height: 1.5em;
}

#content table {
	margin-bottom: 1.5em;
}

#content table th {
	text-align: left;
	font-weight: bold;
	padding: 0.5em;
	color: #444;
}

#content table td {
	padding: 0.5em;
}

#content table tr.rowA {
	background-color: #efefef;
	color: inherit;
}

#content table tr.rowB {
	background-color: #fafafa;
	color: inherit;
}

/* Primary Content */
#primaryContentContainer {
	float: right;
	margin-left: -19em;
	width: 100%;
}

#primaryContent {
	margin: 0em 0em 0em 15em;
	padding: 2.5em 2.5em 1.5em 2.5em;
}

/* Secondary Content */
#secondaryContent {
	float: left;
	width: 13em;
	padding: 2.5em 2.5em 1.5em 2.5em;
}

input.button {
	border-top: solid 1px #fff;
	border-left: solid 1px #fff;
	border-bottom: solid 1px #888;
	border-right: solid 1px #888;
	background-color: #eaeaea;
	color: #555;
	font-size: 0.8em;
	padding: 0.35em;
}

input.text {
	border-top: solid 1px #888;
	border-left: solid 1px #888;
	border-bottom: solid 1px #fff;
	border-right: solid 1px #fff;
	padding: 0.1em;
	margin-top: 0.25em;
	margin-bottom: 0.5em;
}