<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BugTrackingSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>TimesheetCtl</servlet-name>
    <servlet-class>com.sunrays.javarefbook.ctl.TimesheetCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimesheetCtl</servlet-name>
    <url-pattern>/TimesheetCtl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TimesheetListCtl</servlet-name>
    <servlet-class>com.sunrays.javarefbook.ctl.TimesheetListCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimesheetListCtl</servlet-name>
    <url-pattern>/TimesheetListCtl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TimesheetDashBoardCtl</servlet-name>
    <servlet-class>com.sunrays.javarefbook.ctl.TimesheetDashBoardCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimesheetDashBoardCtl</servlet-name>
    <url-pattern>/TimesheetDashBoardCtl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModuleCtl</servlet-name>
    <servlet-class>com.sunrays.javarefbook.ctl.ModuleCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuleCtl</servlet-name>
    <url-pattern>/ModuleCtl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModuleListCtl</servlet-name>
    <servlet-class>com.sunrays.javarefbook.ctl.ModuleListCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuleListCtl</servlet-name>
    <url-pattern>/ModuleListCtl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProjectListCtl</servlet-name>
    <servlet-class>com.sunrays.javarefbook.ctl.ProjectListCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectListCtl</servlet-name>
    <url-pattern>/ProjectListCtl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProjectCtl</servlet-name>
    <servlet-class>com.sunrays.javarefbook.ctl.ProjectCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectCtl</servlet-name>
    <url-pattern>/ProjectCtl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserCtl</servlet-name>
    <servlet-class>com.sunrays.javarefbook.ctl.UserCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCtl</servlet-name>
    <url-pattern>/UserCtl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyProfileCtl</servlet-name>
    <servlet-class>com.sunrays.javarefbook.ctl.MyProfileCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyProfileCtl</servlet-name>
    <url-pattern>/MyProfileCtl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserListCtl</servlet-name>
    <servlet-class>com.sunrays.javarefbook.ctl.UserListCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListCtl</servlet-name>
    <url-pattern>/UserListCtl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrganizationCtl</servlet-name>
    <servlet-class>com.sunrays.javarefbook.ctl.OrganizationCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrganizationCtl</servlet-name>
    <url-pattern>/OrganizationCtl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrganizationListCtl</servlet-name>
    <servlet-class>com.sunrays.javarefbook.ctl.OrganizationListCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrganizationListCtl</servlet-name>
    <url-pattern>/OrganizationListCtl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoleCtl</servlet-name>
    <servlet-class>com.sunrays.javarefbook.ctl.RoleCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleCtl</servlet-name>
    <url-pattern>/RoleCtl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoleListCtl</servlet-name>
    <servlet-class>com.sunrays.javarefbook.ctl.RoleListCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleListCtl</servlet-name>
    <url-pattern>/RoleListCtl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BugCtl</servlet-name>
    <servlet-class>com.sunrays.javarefbook.ctl.BugCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugCtl</servlet-name>
    <url-pattern>/BugCtl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BugListCtl</servlet-name>
    <servlet-class>com.sunrays.javarefbook.ctl.BugListCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugListCtl</servlet-name>
    <url-pattern>/BugListCtl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginCtl</servlet-name>
    <servlet-class>com.sunrays.javarefbook.ctl.LoginCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCtl</servlet-name>
    <url-pattern>/LoginCtl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DashBoardCtl</servlet-name>
    <servlet-class>com.sunrays.javarefbook.ctl.DashBoardCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashBoardCtl</servlet-name>
    <url-pattern>/DashBoardCtl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutCtl</servlet-name>
    <servlet-class>com.sunrays.javarefbook.ctl.LogoutCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutCtl</servlet-name>
    <url-pattern>/LogoutCtl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClientListCtl</servlet-name>
    <servlet-class>com.sunrays.javarefbook.ctl.ClientListCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientListCtl</servlet-name>
    <url-pattern>/ClientListCtl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClientCtl</servlet-name>
    <servlet-class>com.sunrays.javarefbook.ctl.ClientCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientCtl</servlet-name>
    <url-pattern>/ClientCtl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SystemTestingListCtl</servlet-name>
    <servlet-class>com.sunrays.javarefbook.ctl.SystemTestingListCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemTestingListCtl</servlet-name>
    <url-pattern>/SystemTestingListCtl.do</url-pattern>
  </servlet-mapping>
</web-app>